.col {
	padding:0;
}
.container {
	padding-top:10px;
	padding-bottom: 10px;
}
.navbar-brand {
	width:100%;
	margin:0;
}
.warning {
        margin-bottom: 1em;
        background: #fdf9ed;
}
.success {
        margin-bottom: 1em;
        background: #dff0d8;
}

.header {
	margin-bottom: 1em;
	border-bottom: 1px solid rgba(34,36,38,.15);
}

.body {
	padding:15px;
	border-radius: .28571429rem;
    	border: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	margin-bottom:1em;
}
.error-box {
	display:none;
}
#index,#admin,#reset,#rc,#rm,#ps,#ss,#mc,#uc,#no,#st,#qa,#vo,#tr,#map,#nmc {
	display:none;
}

.divide {
	margin-bottom:1em;
	border:1px solid rgba(34,36,38,.15);
}
.root {
	display:none;
}
.loader {
	top: calc(50% - 53px);
	position: fixed;
	z-index:100;
}
.update {
    position: absolute;
    z-index: 10000;
    background: rgba(55,55,55,.01);
    height: calc(100% + 125px);
    display:none;
}
@media (min-width: 1400px) {
	.update {
		height: calc(100%);
	}
}

option {
	cursor:pointer;
	padding:4px;
}
option:hover {
	background:rgba(55,55,55,.1);
}
option.active {
	background: rgba(55,55,55,1);
	color:white;
}
option.active:hover {
	background:rgba(55,55,55,.1);
}

.custBtn {
    cursor: pointer;
    opacity: .5;
    transition:.3s;
}
.custBtn:hover {
	opacity:1;
}
th {
    width: 33.33%;
}
td {
    width: 33.33%;
    transition:.3s;
    border-top: none !important;
}
.pres:hover {
	background:rgba(192,178,131,.6);
}
.pres {
	background:#c0b283;
	border-top: solid .25px white !important;
	border-right: solid .25px white !important;
	border-left: solid .25px white !important;
	cursor:pointer;
}
.absent {
	cursor:pointer;
	border-top: solid .25px transparent !important;
	border-right: solid .25px transparent !important;
	border-left: solid .25px transparent !important;
}
.absent:hover {
	background:#c0b283;
	border-top: solid .25px white !important;
	border-right: solid .25px white !important;
	border-left: solid .25px white !important;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}